:root.light-mode {
  --blue900: #000a7a;
  --blue800: #005fa3;
  --blue700: #007afb;
  --blue600: #00a0fb;
  --blue500: #a5effc;
  --white0: rgba(255, 255, 255, 0.308);
  --white: #ffffff;
}

:root.dark-mode {
  --blue900: #00005a;
  --blue800: #00a0fb;
  --blue700: #007afb;
  --blue600: #2e4cc3;
  --blue500: #0b1571;
  --white0: rgba(76, 140, 251, 0.412);
  --white: #c7f2ff;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient( to bottom, var(--blue700) 0%, var(--blue600) 50%, var(--blue500) 100% );
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Instrument Sans", sans-serif;
  font-style: normal;
}
.meteo-container {
  margin-inline: auto;
  margin-block: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white0);
  border-radius: 10px;
  width: 380px;
  height: auto;
  color: var(--white);
  padding: 60px;
}
h1 {
  font-weight: 700;
  font-size: 42px;
  margin: 0;
  color: var(--white);
}
h2 {
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 10px 0;
  color: var(--white);
}
h3 {
  font-weight: 600;
  font-size: 32px;
  margin: 0;
  color: var(--blue900);
}
h4 {
  font-weight: 400;
  font-size: 24px;
  margin: 0 0 20px 0;
  color: var(--blue900);
}
#switch {
  background: linear-gradient(
    90deg,
    var(--blue700) 0%,
    var(--blue600) 100%
  );
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 14px 36px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 24px;
}
#switch:hover {
  background: linear-gradient(90deg, var(--blue800) 0%, var(--blue700) 100%);
  transform: translateY(-2px) scale(1.04);
}
p {
  margin-top: 10px;
  font-size: 14px;
  color: var(--blue900);
}
